@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff0e7;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff0e7;
    --foreground: #000;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
